body {
	background-color: #eee;
}
.keyboard {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 24px;
	background: #fafafa;
	padding: 16px;
	box-shadow: 6px 6px 4px #ddd;
	.btn {
		box-shadow: 4px 4px 3px #aaa;
		font-size: 10px;
		background-color: #333;
		border: 1px solid #fff;
		margin: 4px;
		position: relative;
		color: #fff;
		margin: 4px;
		padding: 4px;
		border-radius: 4px;
		width: 48px;
		height: 48px;
		float: left;
		.upper {
			display: block;
		}
		.lower {
			display: block;
		}
		.altkey {
			position: absolute;
			right: 8px;
			bottom: 8px;
			font-size: 24px;
		}

	}
	.min-btn {
		width: 50px;
		height: 24px;
		float: left;
		position: relative;
		.icon {
			font-size: 14px;
			position: absolute;
			left: 23px;
			top: 8px;
		}
		.keyname {
			font-size: 6px;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
	}
	.esc {
		.keyname {
			font-size: 13px;
			position: absolute;
			left: 18px;
			top: 10px;
		}
	}
	.lower {
		font-size: 12px;
	}
	.del, .tab {
		width: 76px;
		position: relative;
	}
	.del, .enter, .shift-r, .command-l, .alt-r, {
		.lower {
			position: absolute;
			right: 4px;
			bottom: 4px;
		}
		.upper {
			float: right;
		}
	}
	.command-l, .command-r {
		.upper {
			font-size: 20px;
		}
	}
	.tab, .caps, .shift-l, .fn, .ctrl, .alt-l, .command-r {
		.lower {
			position: absolute;
			left: 4px;
			bottom: 4px;
		}
	}

	.caps, .enter {
		width: 95px;
	}
	.shift-l, .shift-r {
		width: 128px;
	}
	.lg-btn {
		height: 56px;
	}
	.command-l, .command-r {
		width: 62px;
	}
	.space {
		width: 312px;
	}
	.arr-btn {
		height: 24px;
		span {
			font-size: 18px;
			margin: 2px 20px;
		}
		}
	.up {
		margin: 4px 70px 0;
	}
	.down, .left, .right {
		margin-top: 0;
	}

}