body {
	background-color: #eee;
}
.keyboard {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 24px;
	background: #fafafa;
	padding: 16px;
	//.keyboard 的所有孙元素，也就是所有按键。
	.btn {
		background-color: #000;
		margin: 4px;
		position: relative;
		color: #fff;
		margin: 4px;
		padding: 4px;
		border-radius: 4px;
		width: 48px;
		height: 48px;
		float: left;	
	}
	.min-btn {
		width: 50px;
		height: 24px;
		float: left;
		.keyname {
			font-size: 6px;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
	}
	.del, .tab {
		width: 76px;
	}
	.caps, .enter {
		width: 94px;
	}
	.shift {
		width: 126px;
	}
	.lg-btn {
		height: 56px;
	}
	.command-l, .command-r {
		width: 62px;
	}
	.space {
		width: 304px;
	}
	.arr-btn {
		height: 24px;
		}
	.up {
		margin: 4px 68px 0;
	}

}